<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="text-7xl font-bold underline">
        Hello world!
      </h1>
      <div class="bg-blue-600 text-white p-4">
        This is a div with Tailwind CSS classes.
      </div>
      
    <div class="container"> 
        <div  class="content1" >PORTFOLIO.</div>
        <div class="content2" ></div>
        <div class="content3" >WEB DEVELOPER & DESIGNER</div>
        <div class="content4" >Get to<br/> know me</div>
      
    </div>
</body>
</html>
