<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="content1" >PORTFOLIO.</div>
    <div class="content2" ></div>
    <div class="content3" >WEB DEVELOPER & DESIGNER</div>
    <div class="content4" style="width: 139px; height: 45px; left: 586px; top: 223px; position: absolute; background: #D7D020; border-radius: 7px"></div>
    <div class="content5"  style="width: 108px; height: 43px; left: 602px; top: 224px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Dela Gothic One; font-weight: 400; word-wrap: break-word">Get to<br/> know me</div>

</body>
</html>
